/* -------------------------------- 

Title: Main Header

-------------------------------- */

:root {
    --f-header-height: 130px;
    --f-header-logo-width: 128px;
}

@media (min-width: 64rem) {
    :root {
        --f-header-height: 130px;
    }
}

.f-header {
    height: var(--f-header-height);
    width: 100%;
    z-index: var(--zindex-header);
}

.f-header__mobile-content {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.f-header__logo {
    display: block;
    width: var(--f-header-logo-width);
    flex-shrink: 0;
    text-decoration: none;
}

.f-header__logo svg,
.f-header__logo img {
    display: block;
}

.f-header__nav-control {
    --anim-menu-btn-size: 40px;
    --anim-menu-btn-icon-size: 28px;
    --anim-menu-btn-icon-stroke: 2px;
}

.f-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    padding: 0 0 var(--space-md);
    background-color: var(--color-bg);
    box-shadow: var(--shadow-md);
    font-size: var(--text-md);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1em);
}

.f-header__nav::before {
    content: "";
    display: block;
    position: sticky;
    top: 0;
    height: var(--f-header-height);
    background-color: inherit;
    border-bottom: 1px solid var(--color-contrast-lower);
}

.f-header__nav--is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility 0s, opacity 0.3s, transform 0.3s;
}

.f-header__nav-logo-wrapper {
    display: none;
}

.f-header__item {
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-contrast-lower);
}

.f-header__dropdown-icon {
    display: none;
}

.f-header__link,
.f-header__dropdown-link {
    display: block;
    display: flex;
    align-items: center;
    color: var(--color-contrast-high);
    text-decoration: none;
    padding: var(--space-xs) 0;
}

.f-header__hidden {
    display: none;
}

.f-header__link:hover,
.f-header__dropdown-link:hover,
.f-header__link[aria-current="page"],
.f-header__dropdown-link[aria-current="page"] {
    color: var(--color-primary);
}

@media (min-width: 64rem) {
    .f-header__link[aria-current="page"] {
        border-color: transparent;
        border-style: solid;
        border-width: 2px;
        border-radius: 0;
        border-bottom-color: #00667b;
    }
}

.f-header__link .icon,
.f-header__dropdown-link .icon {
    flex-shrink: 0;
}

.f-header__btn,
.f-header__form-control {
    width: 100%;
    margin: var(--space-xs) 0;
}

/* .f-header__dropdown {
    padding-left: var(--space-md);
} */

.f-header__underline {
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-contrast-lower);
}

@media (min-width: 64rem) {
    .f-header__hidden {
        display: flex;
    }
    .f-header__underline {
        flex-shrink: 0;
        border-bottom: none;
    }
    .f-header__mobile-content {
        display: none;
    }
    .f-header__nav {
        position: static;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: none;
        max-height: none;
        overflow: visible;
        overscroll-behavior: auto;
        height: var(--f-header-height);
        font-size: 0.875em;
    }
    .f-header__nav::before {
        display: none;
    }
    .f-header__nav-logo-wrapper {
        display: block;
        display: flex;
    }
    .f-header__nav-grid,
    .f-header__list {
        display: flex;
        align-items: center;
    }
    .f-header__nav-grid {
        height: 100%;
    }
    .f-header__item {
        display: inline-block;
        position: relative;
        border-bottom: none;
        margin-right: var(--space-xs);
    }
    .f-header__item:last-child {
        margin-right: 0;
    }
    .f-header__dropdown-icon {
        display: block;
        margin-left: var(--space-xxxxs);
        width: 12px;
        height: 12px;
        flex-shrink: 0;
    }
    .f-header__link {
        padding: var(--space-xxxs) var(--space-xxs);
    }
    .f-header__link--icon span {
        display: none;
    }
    .f-header__btn,
    .f-header__form-control {
        margin: 0;
    }
    .f-header__dropdown {
        font-size: 1rem;
        position: absolute;
        top: 100%;
        width: 200px;
        left: calc(50% - 100px);
        padding: var(--space-xxxs) 0;
        background-color: var(--color-bg);
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-md);
        z-index: var(--zindex-popover);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s 0.2s, opacity 0.2s 0s;
    }
    .f-header__item:hover .f-header__dropdown {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.2s 0s, opacity 0.2s 0s;
    }
    .f-header__dropdown-link {
        color: var(--color-contrast-high);
        padding: var(--space-xs) var(--space-sm);
    }
    .f-header__dropdown-link:hover {
        background-color: var(--color-contrast-lower);
    }
}

html:not(.js) .f-header__nav-control {
    display: none;
}

html:not(.js) .f-header__nav {
    position: static;
    padding: var(--space-xxs) 0 var(--space-md);
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.inner-container {
    margin-left: 200px;
    margin-right: 200px;
    /* padding: 1.25rem 0; */
}

@media (min-width: 64rem) {
    .main-container {
        max-width: 64rem;
        width: calc(100% - 2 * 1.25rem);
        margin-left: auto;
        margin-right: auto;
        padding: 1.25rem 0;
    }
}

@media (max-width: 80rem) {
    .inner-container {
        max-width: 64rem;
        margin-left: auto;
        margin-right: auto;
        /* padding: 1.25rem 0; */
    }
}

/* -------------------------------- 
  
  Title: Animated Menu Button
  
  -------------------------------- */

:root {
    --anim-menu-btn-size: 48px;
    --anim-menu-btn-transition-duration: 0.2s;
    --anim-menu-btn-icon-size: 32px;
    --anim-menu-btn-icon-stroke: 2px;
}

.anim-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--anim-menu-btn-size);
    height: var(--anim-menu-btn-size);
}

.anim-menu-btn__icon {
    position: relative;
    display: block;
    font-size: var(--anim-menu-btn-icon-size);
    width: 1em;
    height: var(--anim-menu-btn-icon-stroke);
    color: inherit;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    transform: scale(1);
}

.anim-menu-btn__icon::before,
.anim-menu-btn__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    border-radius: inherit;
}

.anim-menu-btn__icon--close {
    background-size: 100% 100%;
    will-change: transform, background-size;
    transition-property: transform, background-size;
    transition-duration: var(--anim-menu-btn-transition-duration, 0.2s);
}

.anim-menu-btn:active .anim-menu-btn__icon--close {
    transform: scale(0.9);
}

.anim-menu-btn__icon--close::before,
.anim-menu-btn__icon--close::after {
    will-change: inherit;
    transition: inherit;
}

.anim-menu-btn__icon--close::before {
    transform: translateY(-0.25em) rotate(0);
}

.anim-menu-btn__icon--close::after {
    transform: translateY(0.25em) rotate(0);
}

.anim-menu-btn--state-b .anim-menu-btn__icon--close {
    background-size: 0% 100%;
}

.anim-menu-btn--state-b .anim-menu-btn__icon--close::before {
    transform: translateY(0) rotate(45deg);
}

.anim-menu-btn--state-b .anim-menu-btn__icon--close::after {
    transform: translateY(0) rotate(-45deg);
}

.anim-menu-btn__icon--arrow-left,
.anim-menu-btn__icon--arrow-right,
.anim-menu-btn__icon--arrow-up,
.anim-menu-btn__icon--arrow-down {
    border-radius: 50em;
    will-change: transform;
    transition-property: transform;
    transition-duration: var(--anim-menu-btn-transition-duration, 0.2s);
}

.anim-menu-btn:active .anim-menu-btn__icon--arrow-left,
.anim-menu-btn:active .anim-menu-btn__icon--arrow-right,
.anim-menu-btn:active .anim-menu-btn__icon--arrow-up,
.anim-menu-btn:active .anim-menu-btn__icon--arrow-down {
    transform: scale(0.9);
}

.anim-menu-btn__icon--arrow-left::before,
.anim-menu-btn__icon--arrow-right::before,
.anim-menu-btn__icon--arrow-up::before,
.anim-menu-btn__icon--arrow-down::before,
.anim-menu-btn__icon--arrow-left::after,
.anim-menu-btn__icon--arrow-right::after,
.anim-menu-btn__icon--arrow-up::after,
.anim-menu-btn__icon--arrow-down::after {
    transform-origin: calc(var(--anim-menu-btn-icon-stroke) / 2) 50%;
    will-change: transform, width;
    transition-property: transform, width;
    transition-duration: var(--anim-menu-btn-transition-duration, 0.2s);
}

.anim-menu-btn__icon--arrow-left::before,
.anim-menu-btn__icon--arrow-right::before,
.anim-menu-btn__icon--arrow-up::before,
.anim-menu-btn__icon--arrow-down::before {
    transform: translateY(-0.25em) rotate(0);
}

.anim-menu-btn__icon--arrow-left::after,
.anim-menu-btn__icon--arrow-right::after,
.anim-menu-btn__icon--arrow-up::after,
.anim-menu-btn__icon--arrow-down::after {
    transform: translateY(0.25em) rotate(0);
}

.anim-menu-btn__icon--arrow-right {
    transform: rotate(180deg);
}

.anim-menu-btn:active .anim-menu-btn__icon--arrow-right {
    transform: rotate(180deg) scale(0.9);
}

.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-left::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-right::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-up::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-down::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-left::after,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-right::after,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-up::after,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-down::after {
    width: 50%;
}

.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-left::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-right::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-up::before,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-down::before {
    transform: translateY(0) rotate(-45deg);
}

.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-left::after,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-right::after,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-up::after,
.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-down::after {
    transform: translateY(0) rotate(45deg);
}

.anim-menu-btn--state-b:active .anim-menu-btn__icon--arrow-up {
    transform: rotate(90deg) scale(0.9);
}

.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-up {
    transform: rotate(90deg);
}

.anim-menu-btn--state-b:active .anim-menu-btn__icon--arrow-down {
    transform: rotate(-90deg) scale(0.9);
}

.anim-menu-btn--state-b .anim-menu-btn__icon--arrow-down {
    transform: rotate(-90deg);
}

/* -------------------------------- 
  
  Title: FAQs
  
  -------------------------------- */

:root {
    --accordion-border-width: 1px;
    --accordion-border-color: var(--color-contrast-low);
    --accordion-icon-size: 1em;
    --accordion-icon-stroke-width: 1.5px;
}

.accordion__item {
    border-style: solid;
    border-color: var(--accordion-border-color);
    border-bottom-width: var(--accordion-border-width);
}

.accordion__item:first-child {
    border-top-width: var(--accordion-border-width);
}

.accordion__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
}

.accordion__header .icon {
    font-size: var(--accordion-icon-size);
}

.accordion__header .icon .icon__group {
    stroke-width: var(--accordion-icon-stroke-width);
}

.accordion__icon-arrow .icon__group,
.accordion__icon-arrow-v2 .icon__group,
.accordion__icon-plus .icon__group {
    will-change: transform;
    transform-origin: 8px 8px;
}

.accordion__icon-arrow .icon__group > *,
.accordion__icon-arrow-v2 .icon__group > *,
.accordion__icon-plus .icon__group > * {
    transform-origin: 8px 8px;
}

.accordion__icon-arrow .icon__group > *,
.accordion__icon-arrow-v2 .icon__group > * {
    stroke-dasharray: 17;
    transform: translateY(3px);
}

.accordion__icon-arrow .icon__group > *:first-child,
.accordion__icon-arrow-v2 .icon__group > *:first-child {
    stroke-dashoffset: 8.5;
}

.accordion__icon-arrow .icon__group > *:last-child,
.accordion__icon-arrow-v2 .icon__group > *:last-child {
    stroke-dashoffset: 8.5;
}

.accordion__icon-plus .icon__group {
    transform: rotate(-90deg);
}

.accordion__icon-plus .icon__group > *:first-child {
    transform: rotate(-90deg);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-arrow .icon__group > *:first-child {
    transform: translateY(-3px) rotate(-90deg);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-arrow .icon__group > *:last-child {
    transform: translateY(-3px) rotate(90deg);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-arrow-v2 .icon__group {
    transform: rotate(-90deg);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-arrow-v2 .icon__group > *:first-child,
.accordion__item--is-open > .accordion__header > .accordion__icon-arrow-v2 .icon__group *:last-child {
    stroke-dashoffset: 0;
    transform: translateY(0px);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-plus .icon__group {
    transform: rotate(0);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-plus .icon__group > *:first-child {
    transform: rotate(0);
}

.js .accordion__panel {
    display: none;
    will-change: height;
    transform: translateZ(0px);
}

.js .accordion__item--is-open > .accordion__panel {
    display: block;
}

.accordion[data-animation="on"] .accordion__item--is-open .accordion__panel > * {
    animation: accordion-entry-animation 0.4s var(--ease-out);
}

.accordion[data-animation="on"] .accordion__icon-arrow .icon__group,
.accordion[data-animation="on"] .accordion__icon-arrow-v2 .icon__group,
.accordion[data-animation="on"] .accordion__icon-plus .icon__group {
    transition: transform 0.3s var(--ease-out);
}

.accordion[data-animation="on"] .accordion__icon-arrow .icon__group > *,
.accordion[data-animation="on"] .accordion__icon-arrow-v2 .icon__group > *,
.accordion[data-animation="on"] .accordion__icon-plus .icon__group > * {
    transition: transform 0.3s, stroke-dashoffset 0.3s;
    transition-timing-function: var(--ease-out);
}

@keyframes accordion-entry-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* -------------------------------- 
  
  Title: Header Background
  
  -------------------------------- */

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero--overlay-layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: alpha(var(--color-bg), 0.65);
    z-index: 1;
}

/* -------------------------------- 
  
  Title: Social Media (Header)
  
  -------------------------------- */

.author__social {
    display: inline-block;
    padding: var(--space-xs);
    background: var(--color-contrast-lower);
    border-radius: 50%;
    transition: 0.2s;
}

.author__social .icon {
    display: block;
    font-size: 16px;
    color: var(--color-contrast-high);
    transition: color 0.2s;
}

.author__social:hover {
    background-color: var(--color-bg);
    box-shadow: var(--shadow-sm);
}

.author__social:hover .icon {
    color: var(--color-primary);
}

/* -------------------------------- 
  
  Title: About Us + Background
  
  -------------------------------- */

:root {
    --diagonal-section-offset: 50px;
}

.diagonal-section {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@supports (clip-path: inset(50%)) {
    .diagonal-section,
    .diagonal-section-top.diagonal-section-bottom {
        /* padding-top: calc(var(--diagonal-section-offset) / 2);
      padding-bottom: calc(var(--diagonal-section-offset) / 2); */
        clip-path: polygon(
            0% 0%,
            100% var(--diagonal-section-offset),
            100% 100%,
            0% calc(100% - var(--diagonal-section-offset))
        );
    }
    .diagonal-section--flip-x {
        clip-path: polygon(
            0% var(--diagonal-section-offset),
            100% 0%,
            100% calc(100% - var(--diagonal-section-offset)),
            0% 100%
        );
    }
    .diagonal-section-top {
        padding-top: calc(var(--diagonal-section-offset) / 2);
        clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% 100%);
    }
    .diagonal-section-top--flip-x {
        clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% 100%);
    }
    .diagonal-section-top--flip-x.diagonal-section-bottom {
        clip-path: polygon(
            0% var(--diagonal-section-offset),
            100% 0%,
            100% 100%,
            0% calc(100% - var(--diagonal-section-offset))
        );
    }
    .diagonal-section-bottom {
        padding-bottom: calc(var(--diagonal-section-offset) / 2);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
    }
    .diagonal-section-bottom--flip-x {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
    }
    .diagonal-section-bottom--flip-x.diagonal-section-top {
        clip-path: polygon(
            0% 0%,
            100% var(--diagonal-section-offset),
            100% calc(100% - var(--diagonal-section-offset)),
            0% 100%
        );
    }
    .diagonal-section-top--flip-x.diagonal-section-bottom--flip-x {
        clip-path: polygon(
            0% var(--diagonal-section-offset),
            100% 0%,
            100% calc(100% - var(--diagonal-section-offset)),
            0% 100%
        );
    }
}

/* -------------------------------- 
  
  Title: Lists
  
  -------------------------------- */

.list,
.text-component .list {
    --list-v-space: 0.85;
    --list-offset: 1;
    padding-left: 0;
    list-style: none;
}

.list ul,
.text-component .list ul,
.list ol,
.text-component .list ol {
    list-style: none;
    margin: 0;
    margin-top: calc(var(--space-xxxs) * var(--list-v-space, 1));
    padding-top: calc(var(--space-xxxs) * var(--list-v-space, 1));
    padding-left: calc(var(--space-xs) * var(--list-offset, 1));
}

.list li,
.text-component .list li {
    padding-bottom: calc(var(--space-xxxs) * var(--list-v-space, 1));
    margin-bottom: calc(var(--space-xxxs) * var(--list-v-space, 1));
}

.list > li:last-child,
.text-component .list > li:last-child,
.list ul > li:last-child,
.text-component .list ul > li:last-child,
.list ol > li:last-child,
.text-component .list ol > li:last-child {
    margin-bottom: 0;
}

.list:not(.list--border) > li:last-child,
.text-component .list:not(.list--border) > li:last-child,
.list ul > li:last-child,
.text-component .list ul > li:last-child,
.list ol > li:last-child,
.text-component .list ol > li:last-child {
    padding-bottom: 0;
}

.list--ul li,
.list--ol li {
    padding-left: calc(var(--bullet-size) + var(--bullet-margin-right));
}

.list--ul li::before,
.list--ol li::before {
    width: var(--bullet-size);
    height: var(--bullet-size);
    margin-left: calc(var(--bullet-size) * -1);
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    left: calc(var(--bullet-margin-right) * -1);
}

.list--ul {
    --bullet-size: 7px;
    --bullet-margin-right: var(--space-xxs);
}

.list--ul li::before {
    content: "";
    border-radius: 50%;
    color: var(--color-primary);
    background-color: currentColor;
    border: 2px solid currentColor;
}

.list--ul ul li::before {
    background-color: transparent;
}

.list--ol {
    --bullet-size: 26px;
    --bullet-margin-right: 6px;
    counter-reset: list-items;
}

.list--ol li {
    counter-increment: list-items;
}

.list--ol ol {
    counter-reset: list-items;
}

.list--ol li::before {
    content: counter(list-items);
    font-size: 0.75em;
    justify-content: center;
    align-items: center;
    top: -0.1em;
    border-radius: 50%;
    background-color: var(--color-contrast-lower);
    border: 2px solid var(--color-contrast-lower);
    color: var(--color-contrast-high);
}

.list--ol ol li::before {
    background-color: transparent;
}

.list--border li:not(:last-child) {
    border-bottom: 1px solid alpha(var(--color-contrast-higher), 0.15);
}

.list--border ul,
.list--border ol {
    border-top: 1px solid alpha(var(--color-contrast-higher), 0.15);
}

/* -------------------------------- 
  
  Title: Photos
  
  -------------------------------- */

.carousel {
    display: none;
}

@media (max-width: 48rem) {
    :root {
        --carousel-grid-gap: var(--space-xs);
        --carousel-item-auto-size: 260px;
        --carousel-transition-duration: 0.5s;
    }
    .carousel {
        display: flex;
        position: relative;
    }
    .carousel__list {
        display: flex;
        flex-wrap: nowrap;
        will-change: transform;
    }
    .carousel__item {
        flex-shrink: 0;
        width: var(--carousel-item-auto-size);
        margin-right: var(--carousel-grid-gap);
        margin-bottom: var(--carousel-grid-gap);
    }
    .js .carousel__list--animating {
        transition-property: transform;
        transition-duration: var(--carousel-transition-duration);
        transition-timing-function: var(--ease-out);
    }
    .js .carousel__item {
        opacity: 1;
        margin-bottom: 0;
    }
    .js .carousel--loaded .carousel__item {
        opacity: 1;
    }
    .js
        .carousel:not(.carousel--is-dragging)
        .carousel__list:not(.carousel__list--animating)
        .carousel__item[tabindex="-1"]
        > * {
        visibility: hidden;
    }
    .js .carousel[data-drag="on"] .carousel__item {
        user-select: none;
    }
    .js .carousel[data-drag="on"] .carousel__item img {
        pointer-events: none;
        border-radius: var(--radius-md);
    }
    .carousel__control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--color-bg);
        border-radius: 50%;
        box-shadow: var(--shadow-sm);
        z-index: 1;
        transition: 0.2s;
    }
    .carousel__control:active {
        transform: translateY(1px);
    }
    .carousel__control:hover {
        box-shadow: var(--shadow-md);
    }
    .carousel__control[disabled] {
        pointer-events: none;
        background-color: var(--color-contrast-lower);
        color: var(--color-contrast-low);
        box-shadow: none;
    }
    .carousel__control .icon {
        display: block;
        font-size: 20px;
    }
    .carousel__navigation {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 10px);
        gap: var(--space-xs);
        justify-content: center;
        align-items: center;
        margin-top: var(--space-sm);
    }
    .carousel__nav-item {
        display: inline-block;
        margin: 0 var(--space-xxxs);
    }
    @supports (grid-area: auto) {
        margin: 0;
    }
    .carousel__nav-item button {
        display: block;
        position: relative;
        font-size: 10px;
        height: 1em;
        width: 1em;
        border-radius: 50%;
        background-color: var(--color-contrast-high);
        opacity: 0.4;
        cursor: pointer;
        transition: background 0.3s;
    }
    .carousel__nav-item button::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        font-size: 16px;
        height: 1em;
        width: 1em;
        border-radius: inherit;
        border: 1px solid var(--color-contrast-high);
        opacity: 0;
        transform: scale(0);
        transition: 0.3s;
    }
    .carousel__nav-item button:focus {
        outline: none;
    }
    .carousel__nav-item button:focus::before {
        opacity: 1;
        transform: scale(1);
    }
    .carousel__nav-item--selected button {
        opacity: 1;
    }
    .carousel__navigation--pagination {
        grid-template-columns: repeat(auto-fit, minmax(24px, auto));
    }
    .carousel__navigation--pagination .carousel__nav-item button {
        width: 100%;
        height: auto;
        color: var(--color-bg);
        font-size: var(--text-xs);
        padding: var(--space-xxxs) var(--space-xxs);
        border-radius: var(--radius-md);
        text-align: center;
    }
    .carousel__navigation--pagination .carousel__nav-item button:focus {
        outline: 1px solid var(--color-primary);
        outline-offset: 2px;
    }
    html:not(.js) .carousel__list {
        overflow: auto;
    }
    .carousel--hide-controls .carousel__navigation,
    .carousel--hide-controls .carousel__control {
        display: none;
    }
}

@media (max-width: 64rem) {
    .carousel {
        width: calc(100% - 2 * 1.25rem);
        margin-left: auto;
        margin-right: auto;
        padding: 1.25rem 0;
        margin-bottom: var(--space-lg);
    }
}

/* -------------------------------- 
  
  Title: Card V2
  
  -------------------------------- */

.card-v2 {
    position: relative;
    overflow: hidden;
}

.card-v2 img {
    display: block;
    width: 100%;
    height: 242px;
}

.card-v2__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(alpha(var(--color-black), 0), alpha(var(--color-black), 1));
    background-blend-mode: multiply;
    color: var(--color-white);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}

.card-v2--blur-fx .card-v2__caption {
    background: alpha(var(--color-black), 0.8);
    backdrop-filter: blur(10px);
}

a.card-v2 {
    display: block;
    text-decoration: none;
    transition: box-shadow 0.2s;
}

a.card-v2:hover {
    box-shadow: var(--shadow-md);
}

@media (max-width: 48rem) {
    .card-v2 {
        display: none;
    }
}

/* -------------------------------- 
  
  Title: Alert Card
  
  -------------------------------- */

.alert-card {
    position: relative;
    z-index: 1;
}

.alert-card__close-btn {
    position: absolute;
    z-index: 1;
    top: var(--space-sm);
    right: var(--space-sm);
    display: flex;
    height: 36px;
    width: 36px;
    background-color: var(--color-bg);
    border-radius: 50%;
    transition: 0.3s;
}

.alert-card__close-btn .icon {
    margin: auto;
    display: block;
}

.alert-card__close-btn:hover {
    cursor: pointer;
    box-shadow: var(--shadow-sm);
}

/* -------------------------------- 
  
  Title: Feature V6
  
  -------------------------------- */

.feature-v6__item img {
    display: block;
    width: 100%;
    margin-bottom: var(--space-sm);
    border-radius: 500px;
}

.feature-v6--img-sm img {
    width: 304px;
    height: 304px;
}

@media (max-width: 64rem) {
    .feature-v6--img-sm img {
        width: 152px;
        height: 152px;
    }
}

/* -------------------------------- 
  
  Title: Ratings
  
  -------------------------------- */

:root {
    --rating-icon-size: 1.75em;
}

.rating__control ul {
    display: inline-block;
    display: inline-flex;
    vertical-align: top;
}

.rating__control li {
    position: relative;
    height: var(--rating-icon-size);
    width: var(--rating-icon-size);
    float: left;
    cursor: pointer;
}

.rating__control li:focus {
    outline: none;
}

.rating__control li:focus::before {
    transform: scale(1);
    opacity: 0.2;
}

.rating__control li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: 0.2s;
}

.rating__control li.rating__item--zero {
    display: none;
}
.rating__control--is-hidden {
    display: none;
}

.rating__icon,
.rating__control li::before,
.rating[data-animation="on"] .rating__control ul:hover .rating__icon {
    color: var(--color-primary);
}

.rating__icon--inactive,
.rating[data-animation="on"] .rating__control li:hover ~ li .rating__icon,
.rating__item--checked ~ li .rating__icon {
    color: var(--color-contrast-low);
}

.rating__icon {
    overflow: hidden;
}

.rating__icon svg {
    display: block;
    height: var(--rating-icon-size);
    width: var(--rating-icon-size);
    max-width: var(--rating-icon-size);
    pointer-events: none;
}
.rating--read-only .rating__control li {
    cursor: default;
}
.rating__icon--inactive {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.rating__item--half .rating__icon:not(.rating__icon--inactive) {
    position: relative;
    z-index: 2;
    width: 50%;
}

.rating[data-animation="on"] .rating__control li:active .rating__icon {
    transform: scale(0.8);
}

.rating[data-animation="on"] .rating__icon {
    transition: 0.2s;
}

.js .rating__select {
    display: none;
}

.rating__link {
    display: inline-block;
    transition: opacity 0.2s;
}

.rating__link:hover {
    opacity: 0.85;
}

@media(max-width: 48rem){
    .grid {
        display: block;
    }
}

.btn-fx-1 {
    --border-radius: 0.25em;
    --transition-duration: 0.3s;
    position: relative;
    display: inline-block;
    border-radius: var(--border-radius);
    line-height: 1;
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition-duration);
    box-shadow: 0 0 0 1px var(--color-bg), 0 0 0 3px var(--color-primary);
    cursor: pointer;
}
.btn-fx-1 span, .btn-fx-1 .btn-fx-1__icon-wrapper {
    position: relative;
    z-index: 2;
}
.btn-fx-1 .icon {
    display: block;
    will-change: transform;
    transition: var(--transition-duration);
}
.btn-fx-1 .icon:first-child {
    color: var(--color-primary);
}
.btn-fx-1 .icon:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: var(--color-white);
    transform: translateY(100%);
}
.btn-fx-1:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--color-bg), 0 0 0 3px var(--color-primary);
}
.btn-fx-1__inner {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: alpha(var(--color-primary), 0.15);
    overflow: hidden;
    clip-path: inset(0% 0% 0% 0% round var(--border-radius));
}
@media(min-width: 64rem) {
    .btn-fx-1:hover {
        color: var(--color-white);
    }
    .btn-fx-1:hover .icon:first-child {
        opacity: 0;
        transform: translateY(-100%);
    }
    .btn-fx-1:hover .icon:last-child {
        opacity: 1;
        transform: translateY(0);
    }
    .btn-fx-1:hover .btn-fx-1__inner::after {
        transform: skewY(0deg) scaleY(2);
    }
    .btn-fx-1__inner::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: -5%;
        width: 110%;
        height: 100%;
        background-color: var(--color-primary);
        transform-origin: center bottom;
        transform: skewY(10deg) scaleY(0);
        transition: transform var(--transition-duration);
    }
}
@media(max-width: 64rem) {
    .btn-fx-1 {
        box-shadow: 0 0 0 1px var(--color-bg), 0 0 0 3px var(--color-primary);
    }
}
.pagination__list > li {
    display: inline-block;
}
.pagination--split .pagination__list {
    width: 100%;
}
.pagination--split .pagination__list > *:first-child {
    margin-right: auto;
}
.pagination--split .pagination__list > *:last-child {
    margin-left: auto;
}
.pagination__item {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    line-height: 1;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-left: calc(1.355 * var(--space-xs));
    padding-right: calc(1.355 * var(--space-xs));
    border-radius: var(--radius-md);
    text-decoration: none;
    height: 100%;
    color: var(--color-contrast-higher);
    transition: 0.2s;
}
.pagination__item:hover:not(.pagination__item--selected):not(.pagination__item--ellipsis) {
    background-color: var(--color-contrast-lower);
}
.pagination__item:active {
    transform: translateY(2px);
}
.pagination__item--selected {
    background-color: var(--color-contrast-higher);
    color: var(--color-bg);
    box-shadow: var(--shadow-sm);
}
.pagination__item--disabled {
    opacity: 0.5;
    pointer-events: none;
}
.pagination__jumper .form-control {
    width: 3.2em;
    margin-right: var(--space-xs);
    padding: var(--space-xs);
}
.pagination__jumper em {
    flex-shrink: 0;
    white-space: nowrap;
}

/* -------------------------------- 
  
  Title: Text Divider
  
  -------------------------------- */
.text-divider {
    margin: var(--space-lg) auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.text-divider span {
    font-size: var(--text-xs);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 var(--space-sm);
}
.text-divider::before, .text-divider::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 20px;
    flex-grow: 1;
    background: var(--color-contrast-low);
    vertical-align: middle;
}
.text-component .text-divider {
    margin: calc(var(--space-md) * var(--text-vspace-multiplier)) auto;
}

/* -------------------------------- 
  
  Title: Back to top
  
  -------------------------------- */

:root {
    --btt-icon-size: 1.25em;
}

.back-to-top {
    position: fixed;
    right: var(--space-md);
    bottom: var(--space-md);
    padding: var(--space-xs);
    z-index: var(--zindex-fixed-element);
    border-radius: var(--radius-md);
    background-color: var(--color-contrast-high);
    transition: 0.3s;
}

.back-to-top:hover {
    background-color: var(--color-contrast-higher);
}

.back-to-top .icon {
    display: block;
    color: var(--color-bg);
    width: var(--btt-icon-size);
    height: var(--btt-icon-size);
}

.js .back-to-top {
    visibility: hidden;
    opacity: 0;
}

.js .back-to-top--is-visible {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 64rem) {
    .js .back-to-top--is-visible {
        visibility: hidden;
        opacity: 0;
    }
}

/* -------------------------------- 
  
  Title: Tabs
  
  -------------------------------- */
.tabs__control {
    text-decoration: none;
    color: var(--color-contrast-medium);
}
.tabs__control:focus {
    outline: 2px solid alpha(var(--color-primary), 0.2);
    outline-offset: 2px;
}
.tabs__control:hover {
    color: var(--color-contrast-high);
}
.js .tabs__control[aria-selected="true"] {
    color: var(--color-contrast-high);
    text-decoration: underline;
}
:root {
    --tabs-v3-border-width: 2px;
    --tabs-v3-radius: 0.25em;
    --tabs-v3-control-gap: 0;
    --tabs-v3-control-radius: 0;
}
.tabs-v3 {
    border: var(--tabs-v3-border-width) solid var(--color-contrast-low);
    padding: var(--component-padding);
    border-radius: var(--tabs-v3-radius);
    background-color: var(--color-bg);
}
.tabs-v3__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-xs);
}
.tabs-v3__controls li {
    display: inline-block;
    margin: 0 var(--space-xs) var(--space-xs) 0;
}
.tabs-v3__control {
    display: inline-flex;
    background-color: var(--color-contrast-low);
    padding: var(--space-xs) var(--space-sm);
    white-space: nowrap;
    color: inherit;
    border-radius: var(--tabs-v3-control-radius);
}
.tabs-v3__control:hover {
    background-color: var(--color-contrast-higher);
    color: var(--color-white);
}
.tabs-v3__panel {
    margin-bottom: var(--space-md);
}
.js .tabs-v3__control {
    text-decoration: none;
    border-radius: var(--radius-md);
}
.js .tabs-v3__control[aria-selected="true"] {
    background-color: var(--color-contrast-higher);
    color: var(--color-white);
}
.js .tabs-v3__control[aria-selected="true"]:hover {
    background-color: var(--color-contrast-higher);
}
.js .tabs-v3__panel {
    margin-bottom: 0;
}
@media (min-width: 64rem) {
    .js .tabs-v3 {
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .js .tabs-v3__controls {
        margin-bottom: 0;
    }
    .js .tabs-v3__controls li {
        margin-top: 0;
        margin-left: calc(-1 * var(--tabs-v3-border-width));
        margin-right: var(--tabs-v3-control-gap);
        margin-bottom: 0;
    }
    .js .tabs-v3__controls li:first-child {
        margin-left: 0;
    }
    .js .tabs-v3__controls li:first-child a {
        border-radius: var(--tabs-v3-radius) var(--tabs-v3-control-radius) 0 0;
    }
    .js .tabs-v3__controls li:last-child a {
        border-radius: var(--tabs-v3-control-radius) var(--tabs-v3-radius) 0 0;
    }
    .js .tabs-v3__control {
        height: 100%;
        border: var(--tabs-v3-border-width) solid transparent;
        border-bottom-width: 0;
        border-radius: var(--tabs-v3-control-radius) var(--tabs-v3-control-radius) 0 0;
    }
    .js .tabs-v3__control[aria-selected="true"] {
        background-color: var(--color-bg);
        color: var(--color-primary);
        position: relative;
        border-color: var(--color-contrast-low);
    }
    .js .tabs-v3__control[aria-selected="true"]:hover {
        background-color: inherit;
    }
    .js .tabs-v3__control[aria-selected="true"]::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(-1 * var(--tabs-v3-border-width));
        width: 100%;
        height: var(--tabs-v3-border-width);
        background-color: var(--color-bg);
        z-index: 1;
    }
    .js .tabs-v3__panels {
        border: var(--tabs-v3-border-width) solid var(--color-contrast-low);
        border-radius: 0 var(--tabs-v3-radius) var(--tabs-v3-radius) var(--tabs-v3-radius);
        background-color: var(--color-bg);
    }
    .js .tabs-v3__panel {
        padding: var(--space-sm);
    }
}

/* -------------------------------- 
  
  Title: Contact Details
  
  -------------------------------- */
.details-list-v2__item {
    padding: var(--space-md) 0;
    border-bottom: 1px solid var(--color-contrast-low);
}
.details-list-v2__item > * {
    margin-bottom: var(--space-xxs);
}
.details-list-v2__item dd:last-of-type {
    margin-bottom: 0;
}
.details-list-v2__dt {
    font-weight: bold;
}
.details-list-v2__dd {
    line-height: 1.4;
}
@media (min-width: 64rem) {
    @supports (grid-area: auto) {
        .details-list-v2--cols {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
       }
        .details-list-v2--cols .details-list-v2__item {
            padding: var(--space-md);
            text-align: center;
            border-bottom-width: 0px;
            border-right: 1px solid var(--color-contrast-low);
       }
        .details-list-v2--cols .details-list-v2__item:last-child {
            border-right-width: 0;
       }
   }
}

/* -------------------------------- 
  
  Title: More Details
  
  -------------------------------- */
.details__summary {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
.details__summary:hover {
    color: var(--color-primary);
}
.details__summary:focus {
    outline: 2px solid alpha(var(--color-primary), 0.2);
    outline-offset: 4px;
}
.details__summary .icon {
    transition: transform 0.2s;
    flex-shrink: 0;
}
.js .details__summary {
    list-style: none;
}
.js .details__summary::-webkit-details-marker {
    display: none;
}
.js .details__summary[aria-expanded="true"] .icon {
    transform: rotate(90deg);
}
.js .details__content[aria-hidden="true"] {
    display: none;
}
html:not(.js) .details__summary .icon {
    display: none;
}

/* -------------------------------- 
  
  Title: Bookings / T&Cs page
  
  -------------------------------- */
  .reading-progressbar {
    position: fixed;
    z-index: var(--zindex-fixed-element);
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    color: var(--color-primary);
    pointer-events: none;
    display: none;
}
.reading-progressbar--is-active {
    display: block;
}
.reading-progressbar::-webkit-progress-bar {
    background-color: transparent;
}
.reading-progressbar::-webkit-progress-value {
    background-color: currentColor;
}
.reading-progressbar::-moz-progress-bar {
    background-color: currentColor;
}
.reading-progressbar__fallback {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: currentColor;
}
.reading-content {
    padding: var(--space-md);
}

/* -------------------------------- 
  
  Title: Footer
  
  -------------------------------- */
.main-footer {
    position: relative;
    z-index: 1;
}
.main-footer__logo {
    flex-shrink: 0;
    width: 104px;
    height: 30px;
    display: block;
}
.main-footer__logo svg,
.main-footer__logo img {
    display: block;
    width: inherit;
    height: inherit;
}
.main-footer__link {
    color: var(--color-contrast-medium);
    text-decoration: none;
}
.main-footer__link:hover {
    color: var(--color-contrast-high);
    text-decoration: underline;
}
.main-footer__colophon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-footer__social {
    text-decoration: none;
    display: inline-block;
    color: var(--color-contrast-medium);
}
.main-footer__social:hover {
    color: var(--color-contrast-high);
}